div.container-padre {
    background-color: #02384B;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.logo-img {
    width: 200px;
    margin: 40px;
}

a.links {
    color: white; 
    display: flex;
    justify-content: start;

}

h1.important {
    color: white;
    display: flex;
    justify-content: start;
    font-size: 30px;
}

h1.redes {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 18px;
}